.btn
	display: inline-block
	background-color: transparent
	border: calc(1em / 6) solid $accent-color
	padding: calc(1em / 2) 1em
	color: $accent-color
	text-transform: uppercase
	transition: all #{$fast} ease-in-out

	&:hover
		background-color: $accent-color
		color: $base-color

.btn-skew
	&:hover
		transform: skewX(-15deg)

.btn-round
	border-radius: 4px

.btn-grow
	&:hover
		transform: scale(1.15)
