---
layout: default
title: About
permalink: /about/
---

<section class="page-header">
	<div class="me"></div>
	<div class="page-heading">
		<h1 class="large">About</h1>
		<h1 class="large">Me</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<button class="btn btn-round" type="button" name="button">What's next?</button>
	</div>
</section>
<section class="blurb">
	<h1>Blurb</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</section>
<section class="skills">
	<section class="skillset">
		<h1>Skillset</h1>
		<div class="skills-container">
			{% for skill in site.data.skills.skillsets %}
				<div class="skill">
					<div id="fa-5x" class="fa {{ skill.icon }}"></div>
					<p>{{ skill.name }}</p>
				</div>
			{% endfor %}
		</div>
	</section>
	<section class="toolbox">
		<h1>Toolbox</h1>
		<div class="skills-container">
			{% for skill in site.data.skills.toolbox %}
				<div class="skill">
					<div id="fa-5x" class="fa {{ skill.icon }}"></div>
					<p>{{ skill.name }}</p>
				</div>
			{% endfor %}
		</div>
	</section>
</section>
