@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Yantramanav");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.huge, .large, h1, h2, h3, h4, h5, h6 {
  color: #37474F;
  margin: 0;
  font-weight: normal; }

.large, h1, h2, h3, h4, h5, h6 {
  font-family: "Yantramanav", sans-serif;
  font-weight: normal; }

.huge {
  font-family: "Amatic SC", cursive;
  font-size: 3.4rem;
  line-height: 1.20; }

.large {
  font-size: 3rem;
  line-height: 1.15; }

h1 {
  font-size: 2.6rem;
  line-height: 1.10; }

h2 {
  font-size: 2.2rem;
  line-height: 1.05; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none;
  font-family: "Yantramanav", sans-serif; }

a {
  text-decoration: none;
  font-family: "Yantramanav", sans-serif;
  color: #37474F; }

button {
  border: none; }
  button:focus {
    outline: none; }

::-moz-selection {
  background: rgba(224, 224, 224, 0.2); }

::selection {
  background: rgba(224, 224, 224, 0.2); }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(224, 224, 224, 0.2); }

body {
  font-size: 16px;
  line-height: 1;
  font-family: "Yantramanav", sans-serif;
  color: #37474F;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-size-adjust: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

main {
  margin-left: 15rem;
  background-image: -webkit-linear-gradient(left, rgba(0, 212, 255, 0.25), rgba(0, 212, 255, 0.25) 20px, transparent 20px, transparent -webkit-calc(8.33333% - 21.66667px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(8.33333% - 21.66667px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(8.33333% - 21.66667px + 20px + 20px), transparent -webkit-calc(8.33333% - 21.66667px + 20px + 20px), transparent -webkit-calc(16.66667% - 23.33333px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(16.66667% - 23.33333px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(16.66667% - 23.33333px + 20px + 20px), transparent -webkit-calc(16.66667% - 23.33333px + 20px + 20px), transparent -webkit-calc(25% - 25px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(25% - 25px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(25% - 25px + 20px + 20px), transparent -webkit-calc(25% - 25px + 20px + 20px), transparent -webkit-calc(33.33333% - 26.66667px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(33.33333% - 26.66667px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(33.33333% - 26.66667px + 20px + 20px), transparent -webkit-calc(33.33333% - 26.66667px + 20px + 20px), transparent -webkit-calc(41.66667% - 28.33333px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(41.66667% - 28.33333px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(41.66667% - 28.33333px + 20px + 20px), transparent -webkit-calc(41.66667% - 28.33333px + 20px + 20px), transparent -webkit-calc(50% - 30px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(50% - 30px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(50% - 30px + 20px + 20px), transparent -webkit-calc(50% - 30px + 20px + 20px), transparent -webkit-calc(58.33333% - 31.66667px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(58.33333% - 31.66667px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(58.33333% - 31.66667px + 20px + 20px), transparent -webkit-calc(58.33333% - 31.66667px + 20px + 20px), transparent -webkit-calc(66.66667% - 33.33333px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(66.66667% - 33.33333px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(66.66667% - 33.33333px + 20px + 20px), transparent -webkit-calc(66.66667% - 33.33333px + 20px + 20px), transparent -webkit-calc(75% - 35px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(75% - 35px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(75% - 35px + 20px + 20px), transparent -webkit-calc(75% - 35px + 20px + 20px), transparent -webkit-calc(83.33333% - 36.66667px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(83.33333% - 36.66667px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(83.33333% - 36.66667px + 20px + 20px), transparent -webkit-calc(83.33333% - 36.66667px + 20px + 20px), transparent -webkit-calc(91.66667% - 38.33333px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(91.66667% - 38.33333px + 20px), rgba(0, 212, 255, 0.25) -webkit-calc(91.66667% - 38.33333px + 20px + 20px), transparent -webkit-calc(91.66667% - 38.33333px + 20px + 20px), transparent -webkit-calc(100% - 20px), rgba(0, 212, 255, 0.25) -webkit-calc(100% - 20px), rgba(0, 212, 255, 0.25) -webkit-calc(100%));
  background-image: -o-linear-gradient(left, rgba(0, 212, 255, 0.25), rgba(0, 212, 255, 0.25) 20px, transparent 20px, transparent calc(8.33333% - 21.66667px + 20px), rgba(0, 212, 255, 0.25) calc(8.33333% - 21.66667px + 20px), rgba(0, 212, 255, 0.25) calc(8.33333% - 21.66667px + 20px + 20px), transparent calc(8.33333% - 21.66667px + 20px + 20px), transparent calc(16.66667% - 23.33333px + 20px), rgba(0, 212, 255, 0.25) calc(16.66667% - 23.33333px + 20px), rgba(0, 212, 255, 0.25) calc(16.66667% - 23.33333px + 20px + 20px), transparent calc(16.66667% - 23.33333px + 20px + 20px), transparent calc(25% - 25px + 20px), rgba(0, 212, 255, 0.25) calc(25% - 25px + 20px), rgba(0, 212, 255, 0.25) calc(25% - 25px + 20px + 20px), transparent calc(25% - 25px + 20px + 20px), transparent calc(33.33333% - 26.66667px + 20px), rgba(0, 212, 255, 0.25) calc(33.33333% - 26.66667px + 20px), rgba(0, 212, 255, 0.25) calc(33.33333% - 26.66667px + 20px + 20px), transparent calc(33.33333% - 26.66667px + 20px + 20px), transparent calc(41.66667% - 28.33333px + 20px), rgba(0, 212, 255, 0.25) calc(41.66667% - 28.33333px + 20px), rgba(0, 212, 255, 0.25) calc(41.66667% - 28.33333px + 20px + 20px), transparent calc(41.66667% - 28.33333px + 20px + 20px), transparent calc(50% - 30px + 20px), rgba(0, 212, 255, 0.25) calc(50% - 30px + 20px), rgba(0, 212, 255, 0.25) calc(50% - 30px + 20px + 20px), transparent calc(50% - 30px + 20px + 20px), transparent calc(58.33333% - 31.66667px + 20px), rgba(0, 212, 255, 0.25) calc(58.33333% - 31.66667px + 20px), rgba(0, 212, 255, 0.25) calc(58.33333% - 31.66667px + 20px + 20px), transparent calc(58.33333% - 31.66667px + 20px + 20px), transparent calc(66.66667% - 33.33333px + 20px), rgba(0, 212, 255, 0.25) calc(66.66667% - 33.33333px + 20px), rgba(0, 212, 255, 0.25) calc(66.66667% - 33.33333px + 20px + 20px), transparent calc(66.66667% - 33.33333px + 20px + 20px), transparent calc(75% - 35px + 20px), rgba(0, 212, 255, 0.25) calc(75% - 35px + 20px), rgba(0, 212, 255, 0.25) calc(75% - 35px + 20px + 20px), transparent calc(75% - 35px + 20px + 20px), transparent calc(83.33333% - 36.66667px + 20px), rgba(0, 212, 255, 0.25) calc(83.33333% - 36.66667px + 20px), rgba(0, 212, 255, 0.25) calc(83.33333% - 36.66667px + 20px + 20px), transparent calc(83.33333% - 36.66667px + 20px + 20px), transparent calc(91.66667% - 38.33333px + 20px), rgba(0, 212, 255, 0.25) calc(91.66667% - 38.33333px + 20px), rgba(0, 212, 255, 0.25) calc(91.66667% - 38.33333px + 20px + 20px), transparent calc(91.66667% - 38.33333px + 20px + 20px), transparent calc(100% - 20px), rgba(0, 212, 255, 0.25) calc(100% - 20px), rgba(0, 212, 255, 0.25) calc(100%));
  background-image: linear-gradient(to right, rgba(0, 212, 255, 0.25), rgba(0, 212, 255, 0.25) 20px, transparent 20px, transparent calc(8.33333% - 21.66667px + 20px), rgba(0, 212, 255, 0.25) calc(8.33333% - 21.66667px + 20px), rgba(0, 212, 255, 0.25) calc(8.33333% - 21.66667px + 20px + 20px), transparent calc(8.33333% - 21.66667px + 20px + 20px), transparent calc(16.66667% - 23.33333px + 20px), rgba(0, 212, 255, 0.25) calc(16.66667% - 23.33333px + 20px), rgba(0, 212, 255, 0.25) calc(16.66667% - 23.33333px + 20px + 20px), transparent calc(16.66667% - 23.33333px + 20px + 20px), transparent calc(25% - 25px + 20px), rgba(0, 212, 255, 0.25) calc(25% - 25px + 20px), rgba(0, 212, 255, 0.25) calc(25% - 25px + 20px + 20px), transparent calc(25% - 25px + 20px + 20px), transparent calc(33.33333% - 26.66667px + 20px), rgba(0, 212, 255, 0.25) calc(33.33333% - 26.66667px + 20px), rgba(0, 212, 255, 0.25) calc(33.33333% - 26.66667px + 20px + 20px), transparent calc(33.33333% - 26.66667px + 20px + 20px), transparent calc(41.66667% - 28.33333px + 20px), rgba(0, 212, 255, 0.25) calc(41.66667% - 28.33333px + 20px), rgba(0, 212, 255, 0.25) calc(41.66667% - 28.33333px + 20px + 20px), transparent calc(41.66667% - 28.33333px + 20px + 20px), transparent calc(50% - 30px + 20px), rgba(0, 212, 255, 0.25) calc(50% - 30px + 20px), rgba(0, 212, 255, 0.25) calc(50% - 30px + 20px + 20px), transparent calc(50% - 30px + 20px + 20px), transparent calc(58.33333% - 31.66667px + 20px), rgba(0, 212, 255, 0.25) calc(58.33333% - 31.66667px + 20px), rgba(0, 212, 255, 0.25) calc(58.33333% - 31.66667px + 20px + 20px), transparent calc(58.33333% - 31.66667px + 20px + 20px), transparent calc(66.66667% - 33.33333px + 20px), rgba(0, 212, 255, 0.25) calc(66.66667% - 33.33333px + 20px), rgba(0, 212, 255, 0.25) calc(66.66667% - 33.33333px + 20px + 20px), transparent calc(66.66667% - 33.33333px + 20px + 20px), transparent calc(75% - 35px + 20px), rgba(0, 212, 255, 0.25) calc(75% - 35px + 20px), rgba(0, 212, 255, 0.25) calc(75% - 35px + 20px + 20px), transparent calc(75% - 35px + 20px + 20px), transparent calc(83.33333% - 36.66667px + 20px), rgba(0, 212, 255, 0.25) calc(83.33333% - 36.66667px + 20px), rgba(0, 212, 255, 0.25) calc(83.33333% - 36.66667px + 20px + 20px), transparent calc(83.33333% - 36.66667px + 20px + 20px), transparent calc(91.66667% - 38.33333px + 20px), rgba(0, 212, 255, 0.25) calc(91.66667% - 38.33333px + 20px), rgba(0, 212, 255, 0.25) calc(91.66667% - 38.33333px + 20px + 20px), transparent calc(91.66667% - 38.33333px + 20px + 20px), transparent calc(100% - 20px), rgba(0, 212, 255, 0.25) calc(100% - 20px), rgba(0, 212, 255, 0.25) calc(100%)); }
  main::after {
    clear: both;
    content: "";
    display: block; }

@media (max-width: 992px) {
  main {
    margin-left: 0;
    margin-top: 15rem; } }

@media (max-width: 768px) {
  main {
    margin: 0; } }

.header {
  background-color: #e0e0e0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15rem; }
  .header .toggle-container {
    background-color: inherit;
    cursor: pointer;
    margin: 1rem;
    display: none;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0; }
    .header .toggle-container .toggle,
    .header .toggle-container .toggle::before,
    .header .toggle-container .toggle::after {
      content: '';
      position: relative;
      display: block;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      background-color: #37474F;
      -webkit-transition: all 350ms ease;
      -o-transition: all 350ms ease;
      transition: all 350ms ease;
      height: 4px;
      width: 100%; }
    .header .toggle-container .toggle::before {
      top: -12px; }
    .header .toggle-container .toggle::after {
      top: 12px; }
    .header .toggle-container.active .toggle {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      background-color: transparent; }
    .header .toggle-container.active .toggle::before {
      top: 2px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .header .toggle-container.active .toggle::after {
      top: -2px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .header .header-title-container {
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem; }
  .header .header-logo-container {
    text-align: center; }
    .header .header-logo-container .header-logo {
      display: inline-block;
      background-color: teal;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      height: 6rem;
      width: 6rem; }
  .header .navbar {
    margin-bottom: 1rem; }
    .header .navbar .header-page-nav {
      text-align: center; }
      .header .navbar .header-page-nav li {
        padding: 1rem; }
      .header .navbar .header-page-nav a {
        color: #9E9E9E;
        -webkit-transition: color 500ms ease-in-out;
        -o-transition: color 500ms ease-in-out;
        transition: color 500ms ease-in-out; }
        .header .navbar .header-page-nav a:hover {
          color: #37474F; }
        .header .navbar .header-page-nav a:active {
          color: #37474F; }
    .header .navbar .social-nav {
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      margin-bottom: 1rem;
      position: absolute;
      bottom: 0;
      left: 50%; }
      .header .navbar .social-nav li {
        padding: -webkit-calc(1rem / 4);
        padding: calc(1rem / 4);
        display: inline-block; }
      .header .navbar .social-nav a {
        font-size: 1.2rem; }
        .header .navbar .social-nav a > i {
          -webkit-transition: color 300ms ease;
          -o-transition: color 300ms ease;
          transition: color 300ms ease;
          color: #37474F; }
      .header .navbar .social-nav .fa-linkedin:hover {
        color: #0077B5; }
      .header .navbar .social-nav .fa-google-plus:hover {
        color: #dd4b39; }
      .header .navbar .social-nav .fa-facebook:hover {
        color: #3B5998; }

@media (max-width: 992px) {
  .header {
    height: 15rem;
    width: 100%; }
    .header .header-title-container {
      display: none; }
    .header .navbar .header-page-nav li {
      display: inline-block; }
    .header .navbar .social-nav {
      position: relative;
      text-align: center;
      padding: 1rem;
      margin-bottom: 0rem; } }

@media (max-width: 768px) {
  .header {
    position: static;
    height: auto;
    width: 100%; }
    .header .toggle-container {
      display: block; }
    .header .header-logo-container {
      text-align: left;
      margin: 0;
      padding: 1rem; }
      .header .header-logo-container .header-logo {
        height: 3rem;
        width: 3rem; }
    .header .navbar {
      display: none;
      margin-bottom: 0rem; }
      .header .navbar .header-page-nav li {
        display: block; } }
