@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Yantramanav");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.huge, .large, h1, h2, h3, h4, h5, h6 {
  color: #212121; }

.large, h1, h2, h3, h4, h5, h6 {
  font-family: "Yantramanav", sans-serif;
  font-weight: normal; }

.huge {
  font-family: "Amatic SC", cursive;
  font-weight: normal;
  font-size: 3.5em;
  line-height: 1.20; }

.large {
  font-size: 3.25em;
  line-height: 1.15; }

h1 {
  font-size: 3em;
  line-height: 1.10; }

h2 {
  font-size: 2.75em;
  line-height: 1.05; }

h3 {
  font-size: 2.5em; }

h4 {
  font-size: 2.25em; }

h5 {
  font-size: 2em; }

h6 {
  font-size: 1.5em; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none;
  font-family: "Yantramanav", sans-serif; }

a {
  text-decoration: none;
  font-family: "Yantramanav", sans-serif;
  color: #212121; }

::-moz-selection {
  background: rgba(224, 224, 224, 0.2); }

::selection {
  background: rgba(224, 224, 224, 0.2); }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(224, 224, 224, 0.2); }

body {
  font-size: 1em;
  line-height: 1;
  font-family: "Yantramanav", sans-serif;
  color: #212121;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-size-adjust: 100%; }

* {
  margin: 0 !important;
    margin-box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#sidebar {
  background-color: lightgrey; }
