// Typography

.huge, .large, h1, h2, h3, h4, h5, h6
	color: $font-color
	margin: 0

.large, h1, h2, h3, h4, h5, h6
	font-family: $yantramanav
	font-weight: normal

.huge
	font-family: $amatic-sc
	font-weight: normal
	font-size: 3.5em
	line-height: 1.20

.large
	font-size: 3.25em
	line-height: 1.15

h1
	font-size: 3em
	line-height: 1.10

h2
	font-size: 2.75em
	line-height: 1.05

h3
	font-size: 2.5em

h4
	font-size: 2.25em

h5
	font-size: 2em

h6
	font-size: 1.5em

// List & anchor styles

ul
  padding: 0
  margin: 0

li
  list-style-type: none
  font-family: $yantramanav

a
  text-decoration: none
  font-family: $yantramanav
  color: $font-color

// Buttons

button
	border: none

	&:focus
		outline: none

// Selection colors

::selection
  background: transparentize($base-color, 0.8)

img::selection
  background: transparent

body
  -webkit-tap-highlight-color: transparentize($base-color, 0.8)

// Body & html presets

body
  font-size: 1em
  line-height: 1
  font-family: $yantramanav
  color: $font-color
  -webkit-font-smoothing: antialiased !important
  -webkit-text-size-adjust: 100%

// Add border-box to account for padding/margins, apply to all elements

*
  box-sizing: border-box

*:before,
*:after
  box-sizing: border-box

// Container styles for main content

main
	margin-left: 250px
	+grid-container
	+grid-visual

+respond-to(tablets)
	main
		margin-left: 0
		margin-top: 250px

+respond-to(mobiles)
	main
		margin: 0
