// Colors

$base-color: #e0e0e0
$font-color: #37474F
$link-color: #9E9E9E
$link-hover-color: $font-color
$link-active-color: $font-color
$facebook-blue: #3B5998
$google-red: #dd4b39
$linkedin-blue: #0077B5

// Fonts

$amatic-sc: 'Amatic SC', cursive
$yantramanav: 'Yantramanav', sans-serif

// Standard Spacings

$standard-padding: 1rem
$standard-margin: $standard-padding

// Breakpoint Map

$breakpoints: (tablets: (max-width: 992px), mobiles: (max-width: 768px))

// Warnings

$invalid-breakpoint: 'The breakpoint specified was invalid, to specify a valid breakpoint use the `$breakpoints map`'
