.project-grid
	width: 100%

	&::after
		content: ''
		clear: both
		display: block

	.project
		width: 14rem
		height: 16rem
		background:
			size: cover
			position: center

		&:nth-child(3n)
			height: 20rem

		&:nth-child(2n)
			height: 18rem

		&:nth-child(5n-1)
			height: 14rem

		&:hover
			.overlay
				opacity: 1

	.thumbnail
		+size(100% 100%)

	.overlay
		background-color: transparentize(black, 0.2)
		opacity: 0
		transition: opacity 350ms ease-in-out
		+position(absolute, 0 0 0 0)

	.overlay-contents
		text-align: center
		padding: $standard-padding
		transform: translateY(-50%)
		+position(relative, 50% 0 0 0)

		& > p
			margin: 0
			margin-bottom: 2rem
			text-transform: uppercase
			color: $base-color
			@extend h2
