.header
	background-color: $base-color
	+position(fixed, 0 null null 0)
	+size(15rem 100%)

	.hamburger
		background-color: inherit
		padding: $standard-padding
		display: none
		+position(absolute, 0 0 null null)


	.header-title-container
		text-align: center
		margin-bottom: $standard-margin
		padding: $standard-padding

	.header-logo-container
		text-align: center

		.header-logo
			display: inline-block
			background-color: teal
			border-radius: 50%
			+size(6rem 6rem)

	.navbar
		margin-bottom: $standard-margin

		.header-page-nav
			text-align: center

			li
				padding: $standard-padding

			a
				color: $link-color
				transition: color 500ms ease-in-out

				&:hover
					color: $link-hover-color

				&:active
					color: $link-active-color

		.social-nav
			transform: translate(-50%, 0)
			margin-bottom: $standard-margin
			+position(absolute, null null 0 50%)

			li
				padding: calc(#{$standard-padding} / 4)
				display: inline-block

			a
				font-size: 1.2rem

+respond-to(tablets)
	.header
		+size(100% 15rem)

		.header-title-container
			display: none

		.navbar
			.header-page-nav
				li
					display: inline-block

			.social-nav
				position: relative
				text-align: center
				padding: 1rem
				margin-bottom: 0rem

+respond-to(mobiles)
	.header
		position: static
		+size(100% auto)

		.hamburger
			display: block

		.header-logo-container
			text-align: left
			margin: 0
			padding: 1rem

			.header-logo
				+size(3rem 3rem)

		.navbar
			display: none

			.header-page-nav
				li
					display: block
